* {
    margin: 0;padding: 0;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Urbanist', monospace;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
    line-height: 35px;
}
p {
    font-size: 14px;
}
a {
    font-size: 12px;
}
i {
    font-size: 20px;
}
button {
    text-transform: capitalize;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    transition: .5s;
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}
.header h6 {
    font-size: 14px;
}
.header a {
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 1px gray;
}
.nav {
    display: none;
    
}
.navbar .nav button {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 5px 10px;
    font-size: 25px;
    color: grey;
    background: none;
}
.navget {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    animation: pop .5s ease-in-out forwards;
    display: flex;
    z-index: 5;
    flex-direction: column-reverse;
    justify-content: start;
    padding: 10% 1%;
    background-color: #ffffffe8;
    backdrop-filter: blur(10px);
    height: 100vh;
    box-shadow: -1px 0px 10px #424242c0;
}
@keyframes pop {
    from {
        opacity: 0;
        filter: blur(30px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}
.navbar .nav ul {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.navbar .nav ul a {
    padding: 15px 10px;
    width: 90%;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.navbar .nav ul a:hover {
    background-color: rgba(195, 196, 195, 0.716);
    cursor: pointer;
}
.navbar .navicons {
    color: #000;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.navbar .navicons a {
    margin: 0 4px;
    color: #000;
    font-size: 16px;
}
.navbar .navicons div {
    align-items: center;
    margin-top: 10px;
}
.navbar .navicons input{
    display: none;
}
.navbar input{
    align-self: center;
    display: block;
    width: 90%;
    margin-top: 20px;
    height: 30px;
    border-radius: 0;
    border: none;
    background-color: rgb(216, 215, 215);
    border: 1px solid rgb(114, 114, 114);
    padding: 5px;
}
.navbar .navicons button {
    padding: 0;
    background: none;
}
.navbar .navicons button div {
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: grey;
}
/* Text */
.text {
    text-transform: capitalize;
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.text div {
    width: 100%;
}
.text div img {
    width: 100%;
}
.text .txt h2 {
    font-size: 40px;
    margin: 15px 0;
}
.text .txt p {
    line-height: 25px;
    margin: 15px 0;
}

/* Prenview */
.preview {
    margin: 5% 0;
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.preview .subdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 15px 0;
    padding: 10px;
    height: 230px;
    box-shadow: 0 0 5px grey;
}
.preview .subdiv:hover {
    background-color: grey;
    color: #fff;
    transition: .5s ease-in-out;
}
.preview .subdiv:hover i{
    border-color: #c5c5c5;
    background-color: #fff;
    color: #000;
    transition: .5s ease-in-out;
}
.preview .subdiv i {
    background-color: black;
    border: 10px solid grey;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 10px;
    color: #fff;
    font-size: 20px
}
.preview .subdiv h4 {
    font-size: 30px;
}
.preview .subdiv span {
    font-size: 14px;
}

/* Founders */
.founders {
    padding: 1% 5%;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.founders .subdiv {
    width: 70%;
}
.founders .subdiv .img {
    width: 100%;
}
.founders .subdiv .img img {
    width: 100%;
}
.founders .subdiv .txt {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.founders .subdiv .txt div {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}
.founders .subdiv .txt h5 {
    font-size: 25px;
    line-height: 40px;
}

/* Services */
.services {
    padding: 15% 6%;
}
.services .subdivs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    text-transform: capitalize;
}
.services .subdivs .item {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services .subdivs .item div {
    background-color: black;
    color: white;
    border: 10px solid rgb(165, 165, 165);
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 6%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: capitalize;
    width: 100%;
}
.footer div {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 15px;
}
.footer hr {
    margin: 15px 0;
}

.footer div input {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px 0;
}
.footer h5, h4 {
    line-height: 50px;
    font-size: 20px;
}
.footer p, a {
    font-size: 14px;
    margin: 6px 0;
    color: white;
    text-decoration: none;

}
.footnote {
    padding: 10px;
    text-align: center;
    color: grey;
    border-top: 1px solid grey;
}

@media only screen and (min-width: 800px) {
    h3 {
        font-size: 23px;
    }
    h4 {
        font-size: 25px;
        line-height: 50px;
    }
    a {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    .navbar {
        padding: 1% 5%;
    }
    .navbar .nav {
        margin: 0;
        padding: 0;
        height: max-content;
        position: relative;
        background: none;
        box-shadow: none;
        flex-direction: row;
        display: flex;
        justify-content: center;
    }
    .nav button {
        display: none;
    }
    .navicons button {
        display: none;
    }
    .navbar .nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .nav ul li {
        width: max-content;
        margin: 0;
        margin-left: 15px;
        padding: 4px 6px;
        border: 1px solid grey;
        border-color: transparent;
    }
    .navbar .nav ul li:hover {
        background: none;
        border: 1px solid grey;
        border-color: transparent transparent #5c5757 transparent;
        border-width: 90%;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    .navbar .nav ul a:hover {
        background: none;
        cursor: pointer;
    }
    .navbar .nav input{
        display: none;
    }
    .navicons {
        margin: 0;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .navbar .navicons input{
        display: block;
        width: 220px;
        height: 30px;
        border-radius: 0;
        border: none;
        background-color: rgb(216, 215, 215);
        padding: 5px;
    }
    .text {
        padding: 1% 5%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .text .txt {
        width: 40%;
        padding: 20px;
        font-size: larger;
    }
    .text div:last-child {
        width: 55%;
    }
    /* Preview */
    .preview {
        flex-wrap: nowrap;
    }
    .preview .subdiv {
        width: 20%;
    }
    /* Founders */
    .founders {
        justify-content: space-between;
        flex-direction: row;
    }
    .founders .subdiv {
        width: 30%;
    }
    
    /* Services */
    .services {
        padding: 0 10%;
    }
    .services .subdivs {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .services .subdivs .item {
        width: max-content;
        padding: 5% 0;
    }

     /* footer */
     .footer {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .footer hr {
        display: none;
    }
    .footer p, a {
        font-size: 14px;
        color: #fff;
    }
    .footer div {
        width: auto;
    }
}