* {
    margin: 0;padding: 0;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Urbanist', monospace;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
    line-height: 35px;
}
p {
    font-size: 14px;
}
a {
    font-size: 12px;
}
button {
    text-transform: capitalize;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    transition: .5s;
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}
.header h6 {
    font-size: 14px;
}
.header a {
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 1px gray;
}
.nav {
    display: none;
    
}
.navbar .nav button {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 5px 10px;
    font-size: 25px;
    color: grey;
    background: none;
}
.navget {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    animation: pop .5s ease-in-out forwards;
    display: flex;
    z-index: 5;
    flex-direction: column-reverse;
    justify-content: start;
    padding: 10% 1%;
    background-color: #ffffffe8;
    backdrop-filter: blur(10px);
    height: 100vh;
    box-shadow: -1px 0px 10px #424242c0;
}
@keyframes pop {
    from {
        opacity: 0;
        filter: blur(30px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}
.navbar .nav ul {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.navbar .nav ul a {
    padding: 15px 10px;
    width: 90%;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.navbar .nav ul a:hover {
    background-color: rgba(195, 196, 195, 0.716);
    cursor: pointer;
}
.navbar .navicons {
    color: grey;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.navbar .navicons div {
    align-items: center;
    margin-top: 10px;
}
.navbar .navicons input{
    display: none;
}
.navbar input{
    align-self: center;
    display: block;
    width: 90%;
    margin-top: 20px;
    height: 30px;
    border-radius: 0;
    border: none;
    background-color: rgb(216, 215, 215);
    border: 1px solid rgb(114, 114, 114);
    padding: 5px;
}
.navbar .navicons button {
    padding: 0;
    background: none;
}
.navbar .navicons button div {
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: grey;
}
.subdivs {
    /* width: 100%; */
    padding: 15px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.items {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subdivs .items .image {
    background-color: #95959559;
    position: relative;
    width: 260px;
    box-shadow: 0 0 6px grey;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subdivs .items .image .add-cart {
    background-color: #000;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-top: 82.8%;
    display: none;
    width: 100%;
    border: none;
    padding: 10px;
    position: absolute;
    cursor: pointer;
    animation: show .5s forwards ease-in-out;
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.subdivs .items .image:hover .add-cart {
    display: block;
}
.subdivs .items img {
    width: 58%;
}
.subdivs .items .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.subdivs .items .overlay span {
    background-color: #5c5757;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: fit-content;
}
.subdivs .items .overlay .icons {
    padding: 5px;
    color: #5c5757;
    justify-self: start;
}
.subdivs .items .overlay .icons div{
    padding: 5px;
    border-radius: 100%;
    background-color: white;
}
.subdivs .items .overlay .icons div:hover {
    cursor: pointer;
    color: black;
    transition: .3s ease-in-out;
}
.subdivs .items .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding: 10px;
}
.subdivs .items .text .pricetag {
    display: flex;
    gap: 10px;
}
.subdivs .items .text .pricetag p:nth-child(2) {
    color: rgb(212, 57, 0);

}
.second {
    /* padding: 0 6%; */
    gap: 5%;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.second::-webkit-scrollbar {
    display: none;
}
.txt {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txt h3 {
    font-weight: 100;
}
.light-btn {
    background: none;
    box-shadow: 0 0 2px grey;
    padding: 10px 25px;
    font-size: 12px;
}
header {
    position: relative;
    padding: 0px 20px;
}
header::before {
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 20px;
    content: '';
    top: 0;left: 0;
    background-color: grey;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 6%;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: capitalize;
    width: 100%;
}
.footer div {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 15px;
}
.footer hr {
    margin: 15px 0;
}

.footer div input {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px 0;
}
.footer h5, h4 {
    line-height: 50px;
    font-size: 20px;
}
.footer p, a {
    font-size: 14px;
    margin: 6px 0;
    color: white;
    text-decoration: none;

}
.footnote {
    padding: 10px;
    text-align: center;
    color: grey;
    border-top: 1px solid grey;
}

@media only screen and (min-width: 700px) {
    h3 {
        font-size: 23px;
    }
    h4 {
        font-size: 25px;
        line-height: 50px;
    }
    a {
        font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    .navbar {
        padding: 2% 5%;
    }
    .navbar .nav {
        margin: 0;
        padding: 0;
        height: max-content;
        position: relative;
        background: none;
        box-shadow: none;
        flex-direction: row;
        display: flex;
        justify-content: center;
    }
    .navbar .nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .nav ul li {
        width: max-content;
        margin: 0;
        margin-left: 15px;
        padding: 4px 6px;
        border: 1px solid grey;
        border-color: transparent;
    }
    .navbar .nav ul li:hover {
        background: none;
        border: 1px solid grey;
        border-color: transparent transparent #5c5757 transparent;
        border-width: 90%;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    .navbar .nav ul a:hover {
        background: none;
        cursor: pointer;
    }
    .navbar .nav ul .category {
        display: none;
    }
    .navbar .nav input{
        display: none;
    }
    .navicons {
        margin: 0;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .navbar .navicons input{
        display: block;
        width: 220px;
        height: 30px;
        border-radius: 0;
        border: none;
        background-color: rgb(216, 215, 215);
        padding: 5px;
    }
    .nav button {
        display: none;
    }
    .navicons button {
        display: none;
    }
    .subdivs {
        justify-content: space-between;
        gap: 0;
    }
    /* footer */
    .footer {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .footer hr {
        display: none;
    }
    .footer p, a {
        font-size: 14px;
        color: #fff;
    }
    .footer div {
        width: auto;
    }
}